<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='images/oryo_logo.png') }}" alt="Logo" class="logo">
    </div>
    <h1>Sample Dashboard</h1>

          <!-- Logout Button -->
    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>

</body>
</html>